---
const { pathname } = Astro.url;

const links = [
    { link: "/", title: "Home" },
    { link: "/acontece-no-bandeiras", title: "Acontece no Bandeiras" },
    { link: "/segmentos", title: "Segmentos" },
    { link: "/proposta-pedagogica", title: "Proposta Pedagógica" },
    { link: "/conheca-o-bandeiras", title: "Conheça o Bandeiras" },
];
import data from "../data/global.json";
import { Image } from "astro:assets";
---

<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>
<nav class="site-nav mb-5">
    <div class="pb-2 top-bar mb-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-lg-9">
                    <a href="" class="small mr-3"
                        ><span class="icon-phone mr-2"></span>
                        <span class="d-none d-lg-inline-block"
                            >{data.phone_format}</span
                        ></a
                    >
                    <a href={"mailto:" + data.email} class="small mr-3"
                        ><span class="icon-envelope mr-2"></span>
                        <span class="d-none d-lg-inline-block"
                            >{data.email}</span
                        ></a
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-nav js-sticky-header">
        <div class="container position-relative">
            <div class="site-navigation">
                <a href="/" class="logo menu-absolute float-left">
                    <Image
                        id="logo"
                        inferSize
                        alt=""
                        src="/assets/images/Logotipo Bandeiras 1999-pequeno.png"
                        width={130}
                        height={110}
                    />
                </a>
                <ul
                    class="js-clone-nav d-none d-lg-inline-block site-menu float-right"
                >
                    {
                        links.map((item) => (
                            <li
                                class={
                                    pathname === item.link
                                        ? "active"
                                        : pathname === "Home"
                                          ? "active"
                                          : ""
                                }
                            >
                                <a href={item.link}>{item.title}</a>
                            </li>
                        ))
                    }
                </ul>
                <a
                    href="#"
                    class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light"
                    data-toggle="collapse"
                    data-target="#main-navbar"
                >
                    <span></span>
                </a>
            </div>
        </div>
    </div>
</nav>
